/*
index.css pour index.html
---------
Feuille de style pour le projet 5 Orinoco
Par Arnaud Ghali
Version V.1.1 maquettage page index et detail*/ 

/* Partie navigation */
.flex-navigation {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto;
  grid-gap: 0px;
  width: 100%;
  background-color: #f2e8f0;
}
.logoNavigation {
  width: 60%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  justify-self: center;
}

.titreNavigation {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.panierNavigation {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

/* Partie resultat*/

/* enveloppe la liste des appareils */
.flex-resultat{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  align-content: center;
  margin: 0;
  background-color:#F2F2F2;
  justify-content:space-between;
}

/* Grid vignette Camera*/
.vignetteArticle{ 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
  background-color: #F2F2F2;
  width: 90%;
  align-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/* Article camera */
.formArticle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-height: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  top: 0;
  padding:0;  
}

/* Elements camera */
/* image camera */
.imageArticle {
  display:flex;
  justify-content: center;
  position: relative;
  text-align: center;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.imageProprieteArticle {
height: auto;
max-width: 100%;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
/* rempli le contenu dans la dimension*/
object-fit: cover;
}

.descriptionArticle {
  display:flex;
  flex-direction: column;
  flex-wrap:nowrap;
  padding-top: 25px;
}

/* prix et action camera */
.actionArticle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
}

.prixArticle {
  display:flex;
  flex-direction: column;
  text-align: right;
  padding-right: 25px;
  padding-top: 25px;
}

.buttonArticle {
  align-self: center;
  border: 1px solid transparent;

}

.buttonAjoutArticle {
  background-color:#f5b027;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  line-height:30px;
  margin: 0;
  vertical-align: middle;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

/* animation sur les boutons - au survol */
.buttonAjoutArticle:hover {
      top: -2px;
      box-shadow: 4px 4px 6px #000;
      background-color:orange;
    }


/* details produit */
.formDetailArticle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-height: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  top: 0;
  padding:0;  
}

.descriptionDetailArticle {
  display:flex;
  flex-direction: column;
  flex-wrap:nowrap;
}

.actionDetailArticle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
}

.prixDetailArticle {
  display:flex;
  flex-direction: column;
  width:100%;
  padding-right: 25px;
  padding-top: 25px;
  text-align: right;

}

.modeleArticle {
  display:flex;
  flex-direction: column;
  width:100%;
}

.libelleChoixModeleArticle {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
  margin: 5px;
}

.choixModeleArticle{
  display: block;
  width: 60%;
  height: 32px;
  justify-content: right;
  font-size: 16px;
  font-weight: 400;
  color: #495057;
  background-color: #ffff;
  background-clip: padding-box;
  border: 2px solid rgb(185, 189, 192);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/*Definition pour les responsives */
/* Pour les ecrans type portable*/
@media only screen and (max-width:768px) {
  .formArticle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0px;
  }
  .prixArticle {
    text-align: left;
  }
  
  .buttonArticle {
    text-align: center; 
  }

  .descriptionArticle{
    padding-top: 5px;
  }

  .actionArticle {
    padding-top: 5px;
  }
}

/* Pour les ecrans type tablette */
@media (min-width: 769px) and (max-width:991px) {
  .formArticle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 0px;
  }
  .prixArticle {
    text-align: left;
  }
  
  .buttonArticle {
    text-align: center; 
  }

  .descriptionArticle{
    padding-top: 5px;
  }

  .actionArticle {
    padding-top: 5px;
  }
}

 /* Pour les ecrans type desktop */
 @media only screen and (min-width: 992px) {

 }

