/* style commun 
Version V.1.2 maquettage page panier */

/* importation des fonts Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Body généralités polices et fond*/
html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100%;
  }

body {
    background-color:white;
    margin: 0;
    font-family: Roboto,Arial,Helvetica,Tahoma,sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #333;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #F2F2F2
}

header{
  background-color: #f2e8f0;
}

footer{
  background-color: #f2e8f0;
  left: 0; 
  right: 0;
}

/* Pour les balises liens de toute la page*/
a { 
  color: inherit;
  text-decoration: none;
}

 /* affichage de type block - contenairs */
article {
  display: block;
}

form {
  padding: 0;
  margin: 0;
  border: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

/* alignement */
.droite {
  float: right;
}

/* Définition des tailles de polices */
.policeH2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #333;
  margin: 5px;
}

.policeH3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
  margin: 5px;
}

.policeParagraphe{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
  margin: 5px;
}

.policeParagraphe2{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #989898;
  margin: 5px;
}

.policePrix{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color:red;
  margin: 5px;
}

.policePrixPanier{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color:black;
  margin: 5px;
}

/* Navigation commun aux pages */

/* Partie navigation */
.flex-navigation {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: auto;
  grid-gap: 0px;
  width: 100%;
  background-color: #f2e8f0;
}
.logoNavigation {
  width: 60%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  justify-self: center;
}

.titreNavigation {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.panierNavigation {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

/* Footer commun aux pages*/

/*Footer*/
.footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:auto;
  margin: auto;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  padding: 16px 32px;
}

.footerTableau{
  display: grid;
  width :100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
}


.footerTitre {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.footerLien {
  display: block;
  text-align: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #333;
  margin: 5px;
}

.footerLien:hover {
  text-decoration: underline;
}

/* Footer pour la page détail */
.footerAbsolu {
  position: absolute;
}
